<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8">
    <title>Origami | O seu OriPainel</title>
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="overflow-x-hidden bg-[#030304]">
    <div class="flex h-screen">
        <aside class="border-r border-r-[#191B20] p-9 flex flex-col items-start justify-between min-w-67.5">
            <nav class="flex flex-col gap-6">
                <a href="#"><img src="../assets/img/logo_full.png" alt="imagem logo da origami" class="w-50"></a>
                <nav class="flex flex-col items-start mt-3 gap-6">
                    <button class="botao_lado_dash">OriPainel</button>
                    <button class="botao_lado_dash">Saldo</button>
                    <button class="botao_lado_dash ativo">Ganhos</button>
                    <button class="botao_lado_dash">Saques</button>
                    <button class="botao_lado_dash">Exchanges</button>
                    <button class="botao_lado_dash">Investimento</button>
                    <button class="botao_lado_dash">Configurações</button>
                </nav>
            </nav>
            <div class="flex flex-col gap-4">
                <div class="flex gap-2">
                    <div class="h-10 w-10 rounded-full bg-[#9CA0A6] text-[#030304] flex items-center justify-center font-geist font-semibold">NM</div>
                    <div class="flex flex-col">
                        <span class="text-[#E2E8F0] font-pop font-bold opacity-70 text-sm">Nsimba Mateus</span>
                        <span class="text-[#E2E8F0] font-pop font-medium text-[12px]">999 021 321</span>
                    </div>
                </div>
                <button class="bg-red-500 font-pop px-4 py-1 rounded-full text-[#E2E8F0] text-sm shadow-[0_0_15px_#fb2c36]">Terminar Sessão</button>
            </div>
        </aside>

        <section class="text-white">
            <div class="border-b border-b-[#191B20] min-w-screen p-5">
                <h1 class="font-geist uppercase font-black text-3xl leading-tight bg-[linear-gradient(45deg,#ffffff,#9ca3af,#ffffff)] bg-clip-text text-transparent">O Seu OriPainel</h1>
                <span class="font-pop text-sm text-[#E2E8F0] opacity-70">Nsimba, é uma honra saber que você está crescendo com a Origami.</span>
            </div>
            <div class="p-5 flex gap-6">
                <nav class="border border-[#191B20] h-35 w-70 rounded-lg"></nav>
                <nav class="border border-[#191B20] h-35 w-70 rounded-lg"></nav>
                <nav class="border border-[#191B20] h-35 w-70 rounded-lg"></nav>
                <nav class="border border-[#191B20] h-35 w-70 rounded-lg"></nav>
            </div>
            <div class="p-5 flex gap-6">
                <nav class="border border-[#191B20] h-112 w-190 rounded-lg"></nav>
                <nav class="border border-[#191B20] h-112 w-102 rounded-lg p-6">
                    <img src="../assets/img/logo_icone.png" alt="" srcset="" class="w-10">
                    <h5 class="font-geist text-[20px] uppercase font-black leading-tight bg-[linear-gradient(45deg,#ffffff,#9ca3af,#ffffff)] bg-clip-text text-transparent">Saiba onde a Origami lucrou (hoje)</h6>
                    <div class="mt-4 flex flex-col gap-6">
                        <nav class="flex gap-3.5">
                            <span class="font-pop font-bold">#1</span>
                            <div class="flex flex-col">
                                <h6 class="font-semibold opacity-75 font-pop text-[#E2E8F0]">Criptomoedas (Bitcoin, CARDANO, Monero, Litecoin e Etherium)</h6>
                                <span class="text-[#5CC8FF] opacity-80 font-pop text-sm font-semibold">1 381 318 KZs (8.43%)</span>
                            </div>
                        </nav>
                        
                        <nav class="flex gap-3.5">
                            <span class="font-pop font-bold">#2</span>
                            <div class="flex flex-col">
                                <h6 class="font-semibold opacity-75 font-pop text-[#E2E8F0]">NFTs</h6>
                                <span class="text-[#5CC8FF] opacity-80 font-pop text-sm font-semibold">1 381 318 KZs (8.43%)</span>
                            </div>
                        </nav>

                        <nav class="flex gap-3.5">
                            <span class="font-pop font-bold">#3</span>
                            <div class="flex flex-col">
                                <h6 class="font-semibold opacity-75 font-pop text-[#E2E8F0]">Bolsas De Valores</h6>
                                <span class="text-[#5CC8FF] opacity-80 font-pop text-sm font-semibold">1 381 318 KZs (8.43%)</span>
                            </div>
                        </nav>

                        <nav class="flex gap-3.5">
                            <span class="font-pop font-bold">#4</span>
                            <div class="flex flex-col">
                                <h6 class="font-semibold opacity-75 font-pop text-[#E2E8F0]">Outro</h6>
                                <span class="text-[#5CC8FF] opacity-80 font-pop text-sm font-semibold">1 381 318 KZs (8.43%)</span>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </section>
    </div>
</body>
</html>