<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8">
    <title>Origami | O seu OriPainel</title>
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="overflow-hidden bg-[#030304]">
    <div class="flex h-screen">
        <aside class="border-r border-r-[#191B20] p-9 flex flex-col items-start justify-between min-w-67.5">
            <nav class="flex flex-col gap-6">
                <a href="#"><img src="../assets/img/logo_full.png" alt="imagem logo da origami" class="w-50"></a>
                <nav class="flex flex-col items-start mt-3 gap-6">
                    <button class="botao_lado_dash"><i class="fa-solid fa-piggy-bank icone_botao_lado_dash"></i>OriPainel</button>
                    <button class="botao_lado_dash"><i class="fa-solid fa-piggy-bank icone_botao_lado_dash"></i>Saldo</button>
                    <button class="botao_lado_dash ativo"><i class="fa-solid fa-piggy-bank icone_botao_lado_dash"></i>Ganhos</button>
                    <button class="botao_lado_dash"><i class="fa-solid fa-piggy-bank icone_botao_lado_dash"></i>Saques</button>
                    <button class="botao_lado_dash"><i class="fa-solid fa-piggy-bank icone_botao_lado_dash"></i>Exchanges</button>
                    <button class="botao_lado_dash"><i class="fa-solid fa-piggy-bank icone_botao_lado_dash"></i>Investimento</button>
                    <button class="botao_lado_dash"><i class="fa-solid fa-piggy-bank icone_botao_lado_dash"></i>Configurações</button>
                </nav>
            </nav>
            <div class="flex flex-col gap-4">
                <div class="flex gap-2">
                    <div class="h-10 w-10 rounded-full bg-[#9CA0A6] text-[#030304] flex items-center justify-center font-geist font-semibold">NM</div>
                    <div class="flex flex-col">
                        <span class="text-[#E2E8F0] font-pop font-bold opacity-70 text-sm">Nsimba Mateus</span>
                        <span class="text-[#E2E8F0] font-pop font-medium text-[12px]">999 021 321</span>
                    </div>
                </div>
                <button class="bg-red-500 font-pop px-4 py-1 rounded-full text-[#E2E8F0] text-sm shadow-[0_0_15px_#fb2c36] cursor-pointer">Terminar Sessão</button>
            </div>
        </aside>

        <section class="text-white">
            <div class="border-b border-b-[#191B20] min-w-screen p-5">
                <h1 class="font-geist uppercase font-black text-3xl leading-tight bg-[linear-gradient(45deg,#ffffff,#9ca3af,#ffffff)] bg-clip-text text-transparent">O Seu OriPainel</h1>
                <span class="font-pop text-sm text-[#E2E8F0] opacity-70">Nsimba, é uma honra saber que você está crescendo com a Origami.</span>
            </div>

            <div class="inicio_dash hidden">
                <div class="p-5 flex gap-6">
                    <nav class="card_info_painel">
                        <div class="div_topo_card_info_painel">
                            <h5 class="titulo_card_info_painel">Saldo Disponível (KZs)</h5>
                            <i class="fa-solid fa-wallet icone_card_painel"></i>
                        </div>
                        <div>
                            <h6 class="valor_card_info_painel">2 500 452,32</h6>
                        </div>
                        <div class="div_bottom_card_info_painel">
                            <i class="fa-solid fa-money-bill-trend-up icone_card_painel_bottom"></i>
                            <span class="valor_ganho_diario">+12.5% hoje</span>
                        </div>
                    </nav>
                    
                    <nav class="card_info_painel">
                        <div class="div_topo_card_info_painel">
                            <h5 class="titulo_card_info_painel">Valor Investido (KZs)</h5>
                            <i class="fa-solid fa-wallet icone_card_painel"></i>
                        </div>
                        <div>
                            <h6 class="valor_card_info_painel">250 145</h6>
                        </div>
                        <div class="div_bottom_card_info_painel">
                            <i class="fa-solid fa-money-bill-trend-up icone_card_painel_bottom"></i>
                            <span class="valor_ganho_diario">+1.5% de bónus</span>
                        </div>
                    </nav>
                    
                    <nav class="card_info_painel">
                        <div class="div_topo_card_info_painel">
                            <h5 class="titulo_card_info_painel">Ganhos (%)</h5>
                            <i class="fa-solid fa-wallet icone_card_painel"></i>
                        </div>
                        <div>
                            <h6 class="valor_card_info_painel">2 522</h6>
                        </div>
                        <div class="div_bottom_card_info_painel">
                            <i class="fa-solid fa-money-bill-trend-up icone_card_painel_bottom"></i>
                            <span class="valor_ganho_diario">+31.2% mensalmente</span>
                        </div>
                    </nav>
                    
                    <nav class="card_info_painel">
                        <div class="div_topo_card_info_painel">
                            <h5 class="titulo_card_info_painel">Valor Levantado (KZs)</h5>
                            <i class="fa-solid fa-wallet icone_card_painel"></i>
                        </div>
                        <div>
                            <h6 class="valor_card_info_painel">1 250 000</h6>
                        </div>
                        <div class="div_bottom_card_info_painel">
                            <i class="fa-solid fa-money-bill-trend-up icone_card_painel_bottom"></i>
                            <span class="valor_ganho_diario">+1.01% hoje</span>
                        </div>
                    </nav>
                </div>

                <div class="p-5 flex gap-6">
                    <nav class="border border-[#191B20] h-112 w-190 rounded-lg"></nav>
                    <nav class="border border-[#191B20] h-112 w-102 rounded-lg p-6">
                        <h5 class="text-[20px] font-pop uppercase font-semibold opacity-75">Saiba onde a Origami lucrou (hoje)</h6>
                        <div class="mt-4 flex flex-col gap-6">
                            <nav class="nav_area_lucro">
                                <span class="posicao_area_lucro">#1</span>
                                <div class="flex flex-col">
                                    <h6 class="area_investimento_lucro">Criptomoedas</h6>
                                    <span class="lucro_area_investimento">1 381 318 KZs (8.43%)</span>
                                </div>
                            </nav>
                                
                            <nav class="nav_area_lucro">
                                <span class="posicao_area_lucro">#2</span>
                                <div class="flex flex-col">
                                    <h6 class="area_investimento_lucro">NFTs</h6>
                                    <span class="lucro_area_investimento">1 381 318 KZs (8.43%)</span>
                                </div>
                            </nav>
                                
                            <nav class="nav_area_lucro">
                                <span class="posicao_area_lucro">#3</span>
                                <div class="flex flex-col">
                                    <h6 class="area_investimento_lucro">Bolsas de Valores</h6>
                                    <span class="lucro_area_investimento">1 381 318 KZs (8.43%)</span>
                                </div>
                            </nav>
                                
                            <nav class="nav_area_lucro">
                                <span class="posicao_area_lucro">#4</span>
                                <div class="flex flex-col">
                                    <h6 class="area_investimento_lucro">Outros</h6>
                                    <span class="lucro_area_investimento">1 381 318 KZs (8.43%)</span>
                                </div>
                            </nav>
                                
                        </div>
                    </nav>
                </div>
            </div>

            <div class="relative">
                <div class="absolute inset-0 pointer-events-none z-0 animate-[gridMove_20s_linear_infinite] bg-[linear-gradient(rgba(255,255,255,0.05)_1px,transparent_1px),linear-gradient(90deg,rgba(255,255,255,0.05)_1px,transparent_1px)] bg-size-[60px_60px] h-screen"></div>
                <div class="absolute inset-0 pointer-events-none z-0" style="background-image: radial-gradient(circle at center, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 90%);"></div>

                <div class="absolute inset-0 flex items-center justify-center pointer-events-none z-0">
                    <div class="h-120 md:h-160 w-50 md:w-160 bg-[radial-gradient(circle,rgba(92,200,255,0.25)0%,rgba(92,200,255,0.1)_40%,transparent_70%)] animate-[luzFundo_8s_ease_infinite_alternate] blur-[120px]"></div>
                </div>
                <div class="secao_lado_dashboard" id="saldoDisponivel">
                    <h2 class="titulo_secao_dash">Saldo Disponível (KZs)</h2>
                    <div>
                        <span class="valor_saldo_dash">2 500 452,32</span>
                        <span class="valor_aumento_diario">+12.5% hoje</span>
                    </div>
                    <p class="texto_secao_dash">Continue confiando na Origami e veja o patamar financeiro a crescer!</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>