<!DOCTYPE html>
<html lang="pt-AO" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="DominusCorpus">
    <title>Origami | Termos e Condições</title>
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="overflow-x-hidden bg-[#030304]">
    <header class="border-b border-b-[#504D4D63] flex justify-between">
        <a href="./termos.html" class="link_img_logo_termo_politica"><img src="../assets/img/logo_icone.png" alt="" srcset="" class="w-12 md:w-13"></a>
        <h1 class="titulo_termo_politica">Termos e Condições.</h1>
        <div class="div_data_vigencia_termo_politica">
            <small class="texto_data_vigencia_termo_politica">
                <span class="palavra_destaque">Última Atualização</span> 
                <span>03 de Abril de 2026</span>
            </small>
        </div>
    </header>
    <main class="main_termo_politica">
        <div class="w-329.5 min-h-full border-r border-l border-[#504D4D63]">
            <div class="border-b border-b-[#504D4D63]">
                <p class="texto_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div>
                <h2 class="titulo_item_termo_politica">1. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">2. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">3. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">4. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">5. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">6. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">7. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">8. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">9. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
            <div class="div_item_texto_termo_politica">
                <h2 class="titulo_item_termo_politica">10. Termos e Condições.</h2>
                <p class="texto_item_termo_politica">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium et nobis sed. Quas quo dolor dolore, adipisci non enim, odio corporis error exercitationem impedit illo recusandae, eveniet et quam magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed totam voluptatibus voluptas alias, inventore odio quas cum harum, debitis saepe sint dolores modi numquam voluptates voluptate itaque necessitatibus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident voluptatibus sunt natus velit earum possimus mollitia magnam fugit error omnis illum deleniti quidem, perferendis corrupti cumque ipsa quasi!</p>
            </div>
        </div>
    </main>
    <footer class="border-t border-t-[#504D4D63] flex justify-between">
        <a href="./termos.html" class="link_img_logo_termo_politica"><img src="../assets/img/logo_icone.png" alt="" srcset="" class="w-12 md:w-13"></a>
        <h1 class="titulo_termo_politica">Termos e Condições.</h1>
        <div class="div_data_vigencia_termo_politica">
            <small class="texto_data_vigencia_termo_politica">
                <span class="palavra_destaque">Desenvolvida pela</span> 
                <span>DominusCorpus&trade;</span>
            </small>
        </div>
    </footer>
</body>
</html> 