@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-geist: "Geist", system-ui, sans-serif;
    --font-pop: "Poppins", system-ui, sans-serif;
}

.palavra_destaque {
    @apply font-semibold
}

header.active > ul {
    @apply translate-x-0 pointer-events-auto;
}

.opcao_link_menu {
    @apply text-sm font-pop opacity-0 md:opacity-85 text-[#E2E8F0] md:hover:opacity-100 transition-all md:transition-opacity md:duration-200 duration-500 md:translate-x-0 translate-x-100 nth-[1]:delay-300 nth-[2]:delay-350 nth-[3]:delay-400 nth-[4]:delay-450 nth-[5]:delay-500
}

header.active .opcao_link_menu {
    @apply translate-x-0 opacity-100
}

.nav_btns {
    @apply border flex gap-2 py-1 px-2 rounded-full w-max border-[#191B20] backdrop-blur-xs
}

.nav_btns_desktop {
    @apply hidden md:flex
}

.btn {
    @apply border-[#191B20] border rounded-full px-4 py-1.5 text-sm font-pop shadow-[0_0_15px_transparent] text-[#E2E8F0] hover:bg-[#154466] hover:border-[#154466] hover:shadow-[0_0_15px_#154466] transition-colors duration-300 cursor-pointer
}

.btn_primary {
    @apply bg-[#154466] shadow-[0_0_15px_#154466] border-[#154466]
}

.linha_menu_hamburguer {
    @apply w-7 h-0.5 bg-[#E2E8F0] rounded-full nth-[1]:w-5 transition-all duration-400
}

header.active .linha_menu_hamburguer {
    @apply nth-[1]:w-7 nth-[2]:w-5
}

@keyframes luzFundo{
    from{
        transform: translateY(-30px) scale(1);
    }
    to{
        transform: translateY(30px) scale(1.1);
    }
}

@keyframes gridMove{
    0%{
        background-position:0 0;
    }
    100%{
        background-position:60px 60px;
    }
}

.subtitulo {
    @apply font-geist font-black uppercase text-[41px] md:text-6xl leading-tight bg-[linear-gradient(45deg,#ffffff,#9ca3af,#ffffff)] bg-clip-text text-transparent
}

.texto_subtitulo {
    @apply font-pop font-light text-[#E2E8F0] text-[15px] opacity-85 mt-1
}

.card_estatisticas{
    @apply relative rounded-xl border border-[#191B20] p-8 flex flex-col gap-4 transition-all duration-500 overflow-hidden before:absolute before:inset-0 before:bg-[radial-gradient(circle_at_top,rgba(92,200,255,0.15),transparent_70%)] before:opacity-100 before:blur-[25px] w-67.5
}

.icone_card_estatisticas {
    @apply text-[20px] text-[#5CC8FF] mb-3;
}

.titulo_card_estatisticas {
    @apply font-geist font-bold text-[19px] uppercase text-[#E2E8F0]
}

.valor_card_estatisticas {
    @apply font-geist font-black text-2xl
}

.info_extra_card_estatisticas {
    @apply text-[13px] text-[#E2E8F0] opacity-80 font-pop
}

.faq_item {
    @apply border-l border-l-[#191B20] backdrop-blur-sm  overflow-hidden transition-all duration-500 relative before:content-[''] before:absolute before:inset-0 before:bg-[linear-gradient(90deg,transparent,rgba(92,200,255,0.08),transparent)] before:opacity-0 before:transition-opacity before:duration-400 before:pointer-events-none after:content-[''] after:absolute after:top-0 after:-left-full after:w-full after:h-px after:bg-[linear-gradient(90deg,transparent,#5CC8FF,transparent)] after:transition-all after:duration-800
}

.faq_item:hover::before {
    @apply opacity-100
}

.faq_item:hover::after {
    @apply left-full
}

.faq_pergunta {
    @apply w-full flex justify-between items-center p-6 text-left font-geist uppercase font-semibold text-[17px] opacity-80 cursor-pointer
}

.faq_icon {
    @apply w-9 h-9 rounded-full flex items-center justify-center border-transparent md:border-[#191B20] border text-[#E2E8F0] opacity-80 transition
}

.faq_item:hover .faq_icon {
    @apply md:border-[#5CC8FF] text-[#5CC8FF] opacity-100
}

.faq_resposta {
    @apply font-pop max-h-0 overflow-hidden duration-500 py-0 px-6 text-[#E2E8F0] opacity-80 text-sm transition-[max-height_.5s_ease,padding_.4s_ease]
}

.faq_item.active .faq_resposta {
    @apply max-h-100 py-5 px-6
}

.faq_item.active .faq_icon {
    @apply rotate-45 scale-110 
}

.faq_item.active{
    @apply border-[#5CC8FF33] shadow-[0_0_0_1px_rgba(92,200,255,0.15),0_0_35px_rgba(92,200,255,0.08)]
}

.card_passos{
    @apply border rounded-xl backdrop-blur-sm p-8 flex flex-col items-center text-center gap-4 w-70 relative transition-all duration-500 shadow-[0_0_0_1px_rgba(92,200,255,0.15),0_0_5px_rgba(92,200,255,0.08)] border-[#5cc9ff2d] md:hover:-translate-y-1 before:absolute before:inset-0 before:bg-[radial-gradient(circle_at_top,rgba(92,200,255,0.15),transparent_70%)] before:opacity-100 before:blur-[25px]
}

.numero_passo{
    @apply absolute -top-5 text-[17px] font-bold bg-[#0303044d] border-r border-l border-r-[#5cc9ff2d] border-l-[#5cc9ff2d] px-3 py-1 text-[#5CC8FF] font-geist 
}

.icone_passo{
    @apply text-3xl text-[#5CC8FF];
}

.titulo_passo{
    @apply font-geist uppercase font-bold text-lg text-[#E2E8F0];
}

.descricao_passo{
    @apply font-pop text-sm text-[#E2E8F0] opacity-80;
}

.linha_fluxo{
    @apply w-17.5 h-0.5 bg-[linear-gradient(90deg,transparent,#5CC8FF,transparent)] opacity-40 absolute
}

.linha_fluxo_1 {
    @apply top-35
}

.linha_fluxo_3 {
    @apply left-47 top-72 rotate-90
}

.linha_fluxo_4 {
    @apply right-47 top-72 rotate-90
}

.card_equipe {
    @apply h-120 md:h-140 w-[90%] md:w-92 sticky top-18 md:top-27 flex items-center justify-center rounded-2xl border border-[#191B20] bg-[#030304] nth-[2]:md:translate-x-96 nth-[3]:md:-translate-x-96 nth-[4]:md:-translate-x-96 nth-[5]:md:translate-x-96
}

.texto_card_equipe {
    @apply font-pop uppercase font-semibold text-3xl text-white opacity-80
}

.card_parceiro {
    @apply h-45 border rounded-xl
}

.card_parceiro_pequeno {
    @apply min-w-60 md:w-60 hover:cursor-pointer border-transparent md:border-[#191B20] p-6 flex items-center justify-center overflow-hidden
}

@keyframes animacaoScroll {
    0% { 
        transform: translateX(0); 
    }
    
    100% { 
        transform: translateX(-90%); 
    }
}

.card_parceiro_grande {
    @apply w-122 hidden md:flex items-center justify-center z-1 border-0
}

.imagem_logo_parceiro {
    @apply grayscale-100 pointer-events-none opacity-95
}

.div_logo_parceiro_mobile {
    @apply md:hidden
}

.link_termos_politica_menu {
    @apply font-pop text-[#E2E8F0] text-[13px] opacity-85 hover:underline
}

.link_midia_social {
    @apply text-[#E2E8F0] font-pop text-2xl font-bold
}

.link_social_media {
    @apply text-[#E2E8F0] text-[27px] opacity-80 hover:opacity-100 active:opacity-100 transition-opacity duration-300
}

/* Painel  */
.botao_terminar_sessao_dashboard {
    @apply bg-transparent hover:bg-red-500 border border-red-500 font-pop px-4 py-1 rounded-full text-red-500 hover:text-[#E2E8F0] text-sm hover:shadow-[0_0_15px_#fb2c36] cursor-pointer hover:opacity-85 font-medium duration-300 transition-all
}

.botao_terminar_sessao_dashboard:hover > .fa-arrow-right-to-bracket {
    @apply relative left-1 
}

.card_info_painel {
    @apply border border-[#191B20] h-max w-70 rounded-xl py-3 px-5 gap-4 flex flex-col items-center relative transition-all duration-500 overflow-hidden before:absolute before:inset-0 before:bg-[radial-gradient(circle_at_top,rgba(92,200,255,0.15),transparent_70%)] before:opacity-100 before:blur-[15px] hover:-translate-y-1 before:pointer-events-none
}

.div_topo_card_info_painel {
    @apply flex justify-between 
}

.titulo_card_info_painel {
    @apply font-pop uppercase font-semibold opacity-75 
}

.icone_card_painel {
    @apply text-[#5CC8FF] opacity-75 text-[20px]
} 

.valor_card_info_painel {
    @apply text-center font-geist uppercase font-bold text-[27px] opacity-90 
}

.div_bottom_card_info_painel {
    @apply flex items-center justify-center gap-0.5 text-green-500
}

.valor_ganho_diario {
    @apply font-geist text-[#E2E8F0] font-medium text-[13px]
}

.div_grafico_dash {
    @apply border border-[#191B20] h-105 md:w-190 rounded-lg relative transition-all duration-500 overflow-hidden before:absolute before:inset-0 before:bg-[radial-gradient(circle_at_top,rgba(92,200,255,0.15),transparent_70%)] before:opacity-100 before:blur-[15px] before:pointer-events-none flex items-center justify-center
}

.div_grafico_dash > h5 {
    @apply font-pop font-bold text-3xl opacity-85
}

.div_estatistica_lucro_origami {
    @apply border border-[#191B20] h-105 md:w-102 rounded-lg overflow-hidden flex flex-col justify-between
}

.nav_area_lucro {
    @apply flex p-2 flex-col items-center justify-center text-center
}

.posicao_area_lucro {
    @apply font-geist font-bold text-2xl
}

.area_investimento_lucro {
    @apply font-semibold font-pop uppercase opacity-95
}

.lucro_area_investimento {
    @apply font-geist text-[12px] font-semibold opacity-75
}

.botao_lado_dash {
    @apply text-[#E2E8F0] font-pop font-semibold opacity-70 hover:opacity-100 text-sm cursor-pointer flex gap-2 items-center
}

.icone_botao_lado_dash {
    @apply text-[18px]
}

.botao_lado_dash.ativo {
    @apply opacity-100 text-[#5CC8FF]
}

.secao_lado_dashboard {
    @apply flex flex-col items-center justify-center text-center md:w-300 h-full mt-10 gap-5 md:gap-35
}

.titulo_secao_dash {
    @apply font-pop text-[40px] md:text-[65px] font-bold uppercase opacity-85
}

.valor_saldo_dash {
    @apply font-geist text-[41px] md:text-[75px] font-bold uppercase
}

.texto_secao_dash {
    @apply font-geist text-sm text-[#E2E8F0] opacity-75 md:w-[90%] w-[60%] mt-10 md:mt-auto
}

.valor_aumento_diario {
    @apply font-geist text-sm text-green-400
}

#saldoDisponivel, #saldoInvestido, #saldoGanho, #saldoLevantado {
    @apply hidden
}

.card_info_config {
    @apply w-70 h-40 p-2 before:pointer-events-none border rounded-lg backdrop-blur-sm relative flex flex-col text-center items-center transition-all duration-500 shadow-[0_0_0_1px_rgba(92,200,255,0.15),0_0_5px_rgba(92,200,255,0.08)] border-[#5cc9ff2d] md:hover:translate-y-1 before:absolute before:inset-0 before:bg-[radial-gradient(circle_at_top,rgba(92,200,255,0.15),transparent_70%)] before:opacity-100 before:blur-[25px]
}

.titulo_card_config {
    @apply font-geist font-bold uppercase opacity-85 text-[#5CC8FF] mb-1.5
}

.dado_card_config {
    @apply font-pop text-center
}

.btn_config {
    @apply bg-[#154466] shadow-[0_0_15px_#154466] border-[#154466] rounded-lg font-pop px-1 cursor-pointer mt-2
}

/* Termos e Política de Privacidade */
.link_img_logo_termo_politica {
    @apply py-0.5 ml-10 flex items-center justify-center
}

.titulo_termo_politica {
    @apply text-[#E2E8F0] font-geist font-black uppercase text-[40px] opacity-85 leading-tight border-l border-r border-[#504D4D63] px-105 py-0.5 
}

.div_data_vigencia_termo_politica {
    @apply flex items-center pr-5 justify-center text-center
}

.texto_data_vigencia_termo_politica {
    @apply text-[#E2E8F0] font-pop opacity-65 text-center flex flex-col
}

.texto_data_vigencia_termo_politica > .palavra_destaque {
    @apply text-[11px]
}

.main_termo_politica {
    @apply mx-29 min-h-full
}

.texto_termo_politica {
    @apply text-[#E2E8F0] font-pop text-sm
}