@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-geist: "Geist", system-ui, sans-serif;
    --font-pop: "Poppins", system-ui, sans-serif;
}

#menu.active {
    @apply translate-x-0;
}
.opcao_link_menu {
    @apply text-sm font-pop text-[#E2E8F0] hover:text-white transition-colors duration-300
}

.nav_btns {
    @apply border flex gap-2 py-1 px-2 rounded-full w-max border-[#191B20] backdrop-blur-xs
}

.nav_btns_desktop {
    @apply hidden md:flex
}

.btn {
    @apply border-[#191B20] border rounded-full px-4 py-1.5 text-sm font-pop shadow-[0_0_15px_transparent] text-[#E2E8F0] hover:bg-[#154466] hover:border-[#154466] hover:shadow-[0_0_15px_#154466] transition-colors duration-300 cursor-pointer
}

.btn_primary {
    @apply bg-[#154466] shadow-[0_0_15px_#154466] border-[#154466]
}

.linha_menu_hamburguer {
    @apply w-7 h-0.5 bg-[#E2E8F0] rounded-full nth-[1]:w-5
}

@keyframes luzFundo{
    from{
        transform: translateY(-30px) scale(1);
    }
    to{
        transform: translateY(30px) scale(1.1);
    }
}

@keyframes gridMove{
    0%{
        background-position:0 0;
    }
    100%{
        background-position:60px 60px;
    }
}

.subtitulo {
    @apply font-geist font-black uppercase text-[41px] md:text-6xl leading-tight bg-[linear-gradient(45deg,#ffffff,#9ca3af,#ffffff)] bg-clip-text text-transparent
}

.texto_subtitulo {
    @apply font-pop font-light text-[#E2E8F0] text-[15px] opacity-85 mt-1
}

.card_estatisticas{
    @apply relative rounded-xl border border-[#191B20] p-8 flex flex-col gap-4 transition-all duration-500 overflow-hidden before:absolute before:inset-0 before:bg-[radial-gradient(circle_at_top,rgba(92,200,255,0.15),transparent_70%)] before:opacity-100 before:blur-[25px] w-67.5
}

.icone_card_estatisticas {
    @apply text-[20px] text-[#5CC8FF] mb-3;
}

.titulo_card_estatisticas{
    @apply font-geist font-bold text-[19px] uppercase text-[#E2E8F0]
}

.valor_card_estatisticas{
    @apply font-geist font-black text-2xl
}

.info_extra_card_estatisticas{
    @apply text-[13px] text-[#E2E8F0] opacity-80 font-pop
}

.faq_item{
    @apply border-l border-l-[#191B20] backdrop-blur-sm overflow-hidden transition-all duration-500 relative before:content-[''] before:absolute before:inset-0 before:bg-[linear-gradient(90deg,transparent,rgba(92,200,255,0.08),transparent)] before:opacity-0 before:transition-opacity before:duration-400 before:pointer-events-none 
}

.faq_item:hover::before{
    @apply opacity-100
}

.faq_pergunta{
    @apply w-full flex justify-between items-center p-6 text-left font-geist font-semibold text-lg
}

.faq_icon{
    @apply w-9 h-9 rounded-full flex items-center justify-center border border-[#191B20] text-[#5CC8FF] transition;
}

.faq_item:hover .faq_icon{
    @apply border-[#5CC8FF];
}

.faq_resposta{
    @apply max-h-0 overflow-hidden px-6 text-[#E2E8F0] opacity-80 font-pop text-sm leading-relaxed transition-all duration-500;
}

.faq_item.active .faq_resposta{
    @apply max-h-40 py-5;
}

.faq_item.active .faq_icon{
    @apply rotate-45;
}